body {
	background: #333;
	color:white;
	width:500px;
	padding-top: 100px;
	text-align: center;
	margin: auto;
	font-family: sans-serif;
}

input[type=text] {
	width: 85%;
	height: 40px;
	font-size: 25px;
	color: #666;
}

input[type=submit] {
	height: 40px;
	font-size: 25px;
	background:white;
	margin-top: 20px;
}

a {
	color: #999;
	font-size: 25px;
	font-weight: bold;
}


.error {
			color: red;
			font-style: italic;
			font-weight: bold;
			font-size: 25px;
}